{% if page.layout == "home-infographic" and site.data.theme.featured-image %}
<style>
.featured-link {
    background:rgba(0,0,0,.5);
}
#home-banner {
    background-image: url('{% include image/featured-image.html %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
}
#home-title-box {
    padding-top: {{ site.data.theme.home-title-y-padding | default: '5em' }};
    padding-bottom: {{ site.data.theme.home-title-y-padding | default: '5em' }};
}
@media screen and (max-width: 576px) {
    #home-banner { max-height:500px; }
    #home-title-box {
        padding-top: 5em;
        padding-bottom: 5em; 
    }
    .display-4 { font-size:1.75em; }
    #home-tagline { font-size:.85em; }
}
</style>
<div id="home-banner" class="container-fluid mb-0 p-0">
    <div id="home-title-box" ></div>
    {% unless site.data.theme.featured-image contains '/' %}<div class="text-right p-0 mt-0">
        <small><a class="text-info featured-link p-2" href="{{ site.data.theme.featured-image | prepend: '/item.html?id=' | relative_url }}" title="{{ featuredItem.title | escape }}"></a></small>
    </div>{% endunless %}
</div>
{%- else -%}
<div class="container pt-2">
    <h1><a class="text-dark font-weight-normal" href="{{ site.baseurl }}/" >{{ site.title }}</a></h1>	 
            {% if site.tagline %}<p>{{ site.tagline }}</p>{% endif %}
</div>
{%- endif -%}