<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body, html {
      height: 100%;
      margin: 0;
    }
    
    .bg {
      /* The image used */
      background-image: src="/objects/arte00001.jpg";
    
      /* Full height */
      height: 100%; 
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    {{ content }}
    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>